version: "3.8"


services:
  db:
     image: postgres:17
     env_file:
        - .env.db
     volumes:
        - pgdata:/var/lib/postgresql/data
     networks:
        - habitly-network
     ports:
        - "5432:5432"

  web:
     build:
       context: .
       dockerfile: Dockerfile
     env_file:
        - .env
     environment:
        - WATCHPACK_POLLING=true
        - CHOKIDAR_USEPOLLING=true
     ports:
       - "3000:3000"
     volumes:
       - ./:/app
       - /app/node_modules
       - /app/.next
     networks:
       - habitly-network

volumes:
  pgdata:

networks:
  habitly-network:
    driver: bridge
